Generating fake data

In [9]:
import pandas as pd
from faker import Faker

# Create an Faker object
fake = Faker()

# Now you have many options to genarate data:
fake.name()
fake.text()
fake.address()
fake.email()
fake.date()
fake.country()
fake.phone_number()
fake.random_number(digits=5)

# let's generate an example DataFrame
faker_df = pd.DataFrame({'date':[fake.date() for i in range(10)],
                         'name':[fake.name() for i in range(10)],
                         'email':[fake.email() for i in range(10)],
                         'text':[fake.text() for i in range(10)]})
faker_df

,date,name,email,text
0,1993-03-29,Paul White,jamesgrant@example.org,Throw goal attorney politics blue experience. ...
1,2002-12-01,Kevin Davis,hilljennifer@example.net,Party arm huge item thought. Voice likely not ...
2,1982-02-03,Daniel Jenkins,sheila64@example.com,Back behavior school life too would friend pro...
3,2002-09-05,Melissa Bowman,amy43@example.net,Cup half Mr camera. Expert national degree may...
4,1995-11-09,Kyle Johnson,michael81@example.org,Partner during environment outside. Tv student...
5,2012-08-31,David Juarez,danielromero@example.org,Serious play kid group. Better point behind pa...
6,2001-11-01,David Weaver,simmonsjordan@example.net,Day more account difference along visit. Reach...
7,2014-07-13,Robin Morris,davisandrea@example.net,Line become government director prepare east m...
8,2001-08-08,Heather Shaw,erussell@example.com,Usually eye education the degree structure abi...
9,2021-04-01,Brian Gutierrez,spruitt@example.org,Training his wife ball. Find yard civil.\nSome...