**Generating fake data**

In [65]:
import pandas as pd
from faker import Faker

# Create an Faker object
fake = Faker()

# Now you have many options to genarate data:
fake.name()
fake.text()
fake.address()
fake.email()
fake.date()
fake.country()
fake.phone_number()
fake.random_number(digits=5)

# let's generate an example DataFrame
faker_df = pd.DataFrame({'date':[fake.date() for i in range(10)],
                         'name':[fake.name() for i in range(10)],
                         'email':[fake.email() for i in range(10)],
                         'text':[fake.text() for i in range(10)]})
faker_df

,date,name,email,text
0,1981-04-07,Andrew Orr,cmendoza@example.net,Always data marriage body mission. If outside ...
1,2011-02-09,Sarah Burton,reesealexander@example.org,Important international under choice civil.\nC...
2,1978-03-30,Caitlin Allison,kristin92@example.org,Adult own positive consider so. Force finish l...
3,1990-06-06,Bruce Ramirez,jennifertucker@example.net,Else than radio son.\nMission with card fine s...
4,2015-10-27,Thomas Schmidt,angela07@example.com,Month stand something early writer himself. Mo...
5,1978-12-07,Justin Jones,emilyfrazier@example.net,Possible imagine project. Exactly building wel...
6,1977-06-27,Tasha Miller,vmora@example.org,Personal land perhaps arm drug. Why choose aga...
7,1997-06-19,William Armstrong,jonathanferguson@example.org,Ahead establish PM require run. News student r...
8,2020-11-28,Paige Richardson,uaguilar@example.com,Son base change newspaper step their. Ask both...
9,2011-07-24,Jeffrey Fisher,diane95@example.net,Them those entire challenge long style small. ...

**Renaming columns**

In [ ]:
import re 
from unidecode import unidecode

def rename_columns(df):
    """Standardizes the column name of any df to snake_case pattern.
    """
    for col in df.columns:
        new_col_name = re.sub('\W','',unidecode(col.lower().strip().replace(' ','_')))
        df.rename(columns = {col:new_col_name}, inplace = True)

# Understanding the code:
# re.sub('\W','','string!@#') -- remove any non alphanumeric character. Return 'string'
# unidecode('áçê') -- Remove accents and special caracters. Return 'ace'
# 'STRING'.lower() -- transform to lowercase. Return 'string'
# ' string '.strip() -- remove whitespaces at the beginning and end of the string. Return 'string'
# 'my string'.replace(' ','_') -- replace all ' ' for '_'. Return 'my_string'

**Loading bar**

In [63]:
import time

def any_func_with_loop(): 
    t_start = time.perf_counter()
    
    list_to_loop = [i for i in range(333)]
    percentage_counter = 0 # Used to not repeat the same percentage
    loop_counter = 0
    
    for item in list_to_loop:
        
        # Your code here
        time.sleep(0.3)
        
        # Code to track execution progress
        loop_counter+=1
        # Calculate approximate progress (%)
        percentage = round(100*(loop_counter)/len(list_to_loop),0) 
        # Print from 10% to 10%
        if percentage%10 ==0:
            # Ensures rounded % will not be printed twice
            if percentage_counter !=percentage:
                t_prov = time.perf_counter()
                time_elapsed = t_prov -t_start
                time_estimated = (100*time_elapsed/percentage)-time_elapsed
                print(f'Status: {percentage:.0f}% Completed! -> '
                      f'Elapsed time:{time_elapsed:.2f}s or {time_elapsed/60:.2f}min. | '
                      f'Estimated time: {time_estimated:.2f}s or {time_estimated/60:.2f}min')
                percentage_counter = percentage

In [64]:
any_func_with_loop()

Status: 10% Completed! -> Elapsed time:9.87s or 0.16min. | Estimated time: 88.81s or 1.48min
Status: 20% Completed! -> Elapsed time:20.03s or 0.33min. | Estimated time: 80.11s or 1.34min
Status: 30% Completed! -> Elapsed time:30.54s or 0.51min. | Estimated time: 71.27s or 1.19min
Status: 40% Completed! -> Elapsed time:40.74s or 0.68min. | Estimated time: 61.10s or 1.02min
Status: 50% Completed! -> Elapsed time:50.90s or 0.85min. | Estimated time: 50.90s or 0.85min
Status: 60% Completed! -> Elapsed time:61.38s or 1.02min. | Estimated time: 40.92s or 0.68min
Status: 70% Completed! -> Elapsed time:71.55s or 1.19min. | Estimated time: 30.66s or 0.51min
Status: 80% Completed! -> Elapsed time:81.72s or 1.36min. | Estimated time: 20.43s or 0.34min
Status: 90% Completed! -> Elapsed time:92.21s or 1.54min. | Estimated time: 10.25s or 0.17min
Status: 100% Completed! -> Elapsed time:102.40s or 1.71min. | Estimated time: 0.00s or 0.00min